body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.container {
    width: 90%;
    max-width: 600px;
}

.form-section {
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

input[type="text"],
input[type="number"],
input[type="date"] {
    width: calc(100% - 22px); /* Full width minus padding */
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: lightgrey; /* Light grey color */
    color: #333;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%; /* Full width button */
}

button:hover {
    background-color: #ddd; /* Slightly darker on hover */
}

.chart-section {
    margin-top: 20px;
}

canvas {
    width: 100% !important; /* Full width canvas */
    height: auto !important; /* Auto height to maintain aspect ratio */
}
